IF EXISTS
(
    SELECT TOP 1
           s.SPECIFIC_NAME
    FROM INFORMATION_SCHEMA.ROUTINES s
    WHERE s.ROUTINE_TYPE = 'PROCEDURE' -- Validación del tipo
          AND ROUTINE_SCHEMA = 'dbo' -- Validación del esquema
          AND s.ROUTINE_NAME = 'SpPrintFacturacion'
) -- Validación del nombre
BEGIN
    DROP PROC [dbo].[SpPrintFacturacion];
END;
GO
/*
exec SpPrintFacturacion '01','3  ',218,'B'
*/

CREATE PROC [dbo].[SpPrintFacturacion]
    @Codcia CHAR(2),
    @Serie CHAR(3),
    @nro INT,
    @fbg CHAR(1)
AS
SET NOCOUNT ON;

DECLARE @PAGACON MONEY,
        @VUELTO MONEY;
SELECT @PAGACON = al.all_pagacon,
       @VUELTO = al.all_vuelto
FROM dbo.ALLOG al
WHERE al.ALL_CODCIA = @Codcia
      AND al.ALL_NUMSER = @Serie
      AND al.ALL_NUMFAC = @nro
      AND al.ALL_CODTRA = 2401
      AND al.ALL_FBG = @fbg
      AND al.ALL_SECUENCIA = 1;


DECLARE @NOMBRE VARCHAR(100),
        @DIRECCION VARCHAR(300),
        @RUC CHAR(11),
        @UBIGEO AS VARCHAR(200);


SELECT TOP 1
       @NOMBRE = PAR_NOMBRE,
       @RUC = PAR_RUC_EMP,
       @DIRECCION = PAR_DIR_EMP,
       @UBIGEO = PAR_AGE_EMP
FROM PARGEN p WITH (NOLOCK)
WHERE p.PAR_CODCIA = @Codcia;


SELECT CASE
           WHEN f.FAR_CANTIDAD_D IS NULL THEN
               f.FAR_CANTIDAD
           ELSE
               f.FAR_CANTIDAD_D
       END AS 'cant',
       CASE
           WHEN f.FAR_CANTIDAD_D IS NOT NULL THEN
               '1/2  '
           ELSE
               ''
       END + CASE
                 WHEN f.CAMBIOPRODUCTO IS NULL
                      OR f.CAMBIOPRODUCTO = '' THEN
                     a.ART_NOMBRE
                 ELSE
                     f.CAMBIOPRODUCTO
             END AS 'prod',
       f.FAR_PRECIO AS 'pre',
       (f.FAR_PRECIO * CASE
                           WHEN f.FAR_CANTIDAD_D IS NULL THEN
                               f.FAR_CANTIDAD
                           ELSE
                               f.FAR_CANTIDAD_D
                       END
       ) AS 'imp',
       dbo.FnDevuelveMozo(@Codcia, FAR_CODVEN) AS 'mozo',
       'Mesa: ' + dbo.FnDevuelveMesa(@Codcia, FAR_OC) AS 'Mesa',
       dbo.FnDevuelveCaracteristica(
                                       f.FAR_CODCIA,
                                       f.FAR_FECHA,
                                       f.FAR_NUMFAC_C,
                                       f.FAR_NUMSER_C,
                                       f.FAR_NUMSEC - 1,
                                       f.FAR_CODART
                                   ) AS 'carac',
       ISNULL(f.FAR_TOT_FLETE, 0) AS 'FLETE',
       ISNULL(f.FAR_TOT_DESCTO, 0) AS 'descuento',
       ISNULL(@PAGACON, 0) AS 'PAGACON',
       ISNULL(@VUELTO, 0) AS 'VUELTO',
       f.FAR_ICBPER AS 'ICBPER',
       (
           SELECT TOP 1
                  qr.CODIGOQR
           FROM dbo.DOCUMENTOS_QR qr
           WHERE qr.CODCIA = @Codcia
                 AND qr.NUMERO = f.FAR_NUMFAC
                 AND qr.FBG = f.FAR_FBG
                 AND qr.NSERIE = f.FAR_NUMSER
       ) AS 'codigoqr',
       f.FAR_NUMFAC_C AS 'COMANDA',
       (
           SELECT TOP 1
                  SUM(a2.ALL_SERVICIO)
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC
                 AND a2.ALL_FBG = f.FAR_FBG
       ) AS 'servicio',
       (
           SELECT TOP 1
                  a2.ALL_SUBTRA
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC
                 AND a2.ALL_FBG = f.FAR_FBG
       ) AS 'FPAGO',
       (
           SELECT TOP 1
                  a2.ALL_GRATUITO
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC
                 AND a2.ALL_FBG = f.FAR_FBG
       ) AS 'gratuito',
       dbo.UFN_CONCATENARFORMASPAGO(f.FAR_CODCIA, f.FAR_NUMSER, f.FAR_NUMFAC, f.FAR_FBG) AS 'medio_pago',
       @NOMBRE AS EMPRESA,
       @DIRECCION AS DIR,
       @RUC AS RUC,
       @UBIGEO AS UBIGEO
       --,p.PED_CLIENTE AS cliente
	   ,(SELECT TOP 1 p.PED_CLIENTE FROM dbo.PEDIDOS p WHERE p.PED_FECHA = f.FAR_FECHA AND p.PED_CODCIA = f.FAR_CODCIA AND p.PED_NUMFAC = f.FAR_NUMFAC_C AND p.PED_NUMSER = f.FAR_NUMSER_C AND p.PED_CODART = f.FAR_CODART AND p.PED_ESTADO = 'N') AS cliente
FROM FACART f
    INNER JOIN ARTI a
        ON f.FAR_CODART = a.ART_KEY
           AND f.FAR_CODCIA = a.ART_CODCIA
    --INNER JOIN PEDIDOS p
    --    ON f.FAR_CODCIA = p.PED_CODCIA
    --       AND f.FAR_NUMFAC_C = p.PED_NUMFAC
    --       AND f.FAR_NUMSER_C = p.PED_NUMSER
    --       AND f.FAR_CODART = p.PED_CODART
		  -- AND f.FAR_FECHA = p.PED_FECHA AND p.PED_ESTADO='N'
WHERE f.FAR_CODCIA = @Codcia
      AND f.FAR_NUMSER = @Serie
      AND f.FAR_NUMFAC = @nro
      AND f.FAR_FBG = @fbg
	  /*
exec SpPrintFacturacion '01','3  ',216,'B'
exec SpPrintFacturacion '01','3  ',218,'B'
exec SpPrintFacturacion '01','3  ',219,'B'
exec SpPrintFacturacion '01','3  ',220,'B'
*/
--ORDER BY
--    -- Agrupa por el padre (si es hijo, toma PED_PADRE, si es padre su propio PED_NUMSEC)
--    CASE
--        WHEN p.PED_PADRE IS NULL THEN
--            p.PED_NUMSEC
--        ELSE
--            p.PED_PADRE
--    END,
--    -- Ordena padre primero, luego hijos
--    CASE
--        WHEN p.PED_PADRE IS NULL THEN
--            0
--        ELSE
--            1
--    END,
--    p.PED_NUMSEC;
GO
