USE [BDATOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CALCULAR_DESCUENTOS]    Script Date: 11/26/2024 21:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec SP_CALCULAR_DESCUENTOS '01','100',193168,'ADMIN',0,4
*/
ALTER proc [dbo].[SP_CALCULAR_DESCUENTOS]
@CODCIA CHAR(2),
@NUMSER CHAR(3),
@NUMFAC BIGINT,
@USUARIO VARCHAR(20),
@DESCUENTO MONEY,
@TIPO TINYINT

AS
SET NOCOUNT ON

DECLARE @TBLPEDIDOS TABLE(SEC INT,CODART BIGINT,CANTIDAD MONEY,PRECIO MONEY,IMPORTE MONEY,INDICE INT IDENTITY)

INSERT INTO @TBLPEDIDOS(SEC,CODART,CANTIDAD,PRECIO,IMPORTE)
SELECT PED_NUMSEC,PED_CODART,PED_CANTIDAD,PED_PRECIO,PED_SUBTOTAL
FROM PEDIDOS WHERE PED_CODCIA=@CODCIA AND PED_NUMFAC=@NUMFAC AND PED_NUMSER=@NUMSER AND PED_ESTADO='N'

--SELECT * FROM @TBLPEDIDOS
DECLARE @TOTAL NUMERIC(8,3),@DSCTO NUMERIC(8,3)
DECLARE @MIN INT, @MAX INT
DECLARE @SEC INT,@CODART BIGINT,@CANTIDAD MONEY,@PRECIO NUMERIC(8,3),@IMPORTE NUMERIC(8,3)
DECLARE @NEWPRECIO NUMERIC(8,3)

SELECT @MIN = MIN(INDICE) FROM @TBLPEDIDOS
	SELECT @MAX = MAX(INDICE) FROM @TBLPEDIDOS
	
IF @TIPO = 1 --TOTAL
BEGIN
	
	--OBTENER EL TOTAL DE LA COMANDA
	SELECT @TOTAL = SUM(IMPORTE) FROM @TBLPEDIDOS
	--SELECT @TOTAL
	SET @DSCTO = ROUND(@DESCUENTO / @TOTAL,10)
	--SELECT @DSCTO
	
	WHILE @MIN <= @MAX
	BEGIN
		SELECT TOP 1 @IMPORTE = IMPORTE,@CANTIDAD = CANTIDAD,@SEC = SEC,@CODART = CODART,@PRECIO = PRECIO FROM @TBLPEDIDOS WHERE INDICE= @MIN
		set @IMPORTE =  round(@importe - (@IMPORTE * @DSCTO),3)
		
		SET @NEWPRECIO = ROUND(@IMPORTE / @CANTIDAD,3)
		
		--SELECT @PRECIO AS 'PRECIO',@IMPORTE AS 'IMPORTE'
		
		UPDATE PEDIDOS SET PED_PRECIO = @NEWPRECIO, PED_SUBTOTAL = @NEWPRECIO * @CANTIDAD,PED_DESCTO= @PRECIO-@NEWPRECIO,USUARIO_ELIMINA=@USUARIO,
		PED_DSCTOAPLICADO = 1
		WHERE PED_CODCIA = @CODCIA AND PED_NUMSER = @NUMSER AND PED_NUMFAC = @NUMFAC AND PED_NUMSEC = @SEC AND PED_CODART = @CODART AND ISNULL(PED_DSCTOAPLICADO,0) = 0
		
		SET @MIN = @MIN + 1
	END
	
END

IF @TIPO = 2 --PORCENTUAL
BEGIN
WHILE @MIN <= @MAX
BEGIN
	SELECT TOP 1 @PRECIO = PRECIO,@SEC = SEC,@CODART = CODART,@CANTIDAD=  CANTIDAD
	FROM @TBLPEDIDOS WHERE INDICE = @MIN
	
	SET @NEWPRECIO = ROUND(@PRECIO - (@PRECIO * @DESCUENTO) / 100,3)
	SET @IMPORTE = @PRECIO * @CANTIDAD
	
	
		UPDATE PEDIDOS SET PED_PRECIO = @NEWPRECIO, PED_SUBTOTAL = @NEWPRECIO * @CANTIDAD,PED_DESCTO = @PRECIO-@NEWPRECIO,USUARIO_ELIMINA=@USUARIO,
		PED_DSCTOAPLICADO = 1
		WHERE PED_CODCIA = @CODCIA AND PED_NUMSER = @NUMSER AND PED_NUMFAC = @NUMFAC AND PED_NUMSEC = @SEC AND PED_CODART = @CODART AND ISNULL(PED_DSCTOAPLICADO,0) = 0
		
	SET @MIN = @MIN + 1
END
END

IF @TIPO = 3 --POR FAMILIA
BEGIN

DECLARE @TBLFAMILIA TABLE(IDFAMILIA INT, DESCUENTO MONEY,INDICE INT IDENTITY)
DECLARE @IDFAMILIA INT

INSERT INTO @TBLFAMILIA(IDFAMILIA,DESCUENTO)
SELECT TAB_NUMTAB,tab_descuento FROM TABLAS WHERE TAB_TIPREG=122 AND TAB_CODCIA=@CODCIA
AND ISNULL(tab_descuento,0) <> 0

--SELECT * FROM @TBLPEDIDOS
SELECT @MIN = MIN(INDICE) FROM @TBLFAMILIA
SELECT @MAX = MAX(INDICE) FROM @TBLFAMILIA

WHILE @MIN <= @MAX
BEGIN
	SELECT TOP 1 @IDFAMILIA = IDFAMILIA, @DSCTO = DESCUENTO
	FROM @TBLFAMILIA WHERE INDICE = @MIN
	
	UPDATE PEDIDOS SET PED_DESCTO = PED_PRECIO -ROUND(PED_PRECIO - (PED_PRECIO * @DSCTO)/100,3),
	 PED_PRECIO = ROUND(PED_PRECIO - (PED_PRECIO * @DSCTO)/100,3),
	PED_SUBTOTAL = PED_CANTIDAD * ROUND(PED_PRECIO - (PED_PRECIO * @DSCTO)/100,3)
	,USUARIO_ELIMINA=@USUARIO, PED_DSCTOAPLICADO = 1
	WHERE PED_CODCIA = @CODCIA AND PED_NUMSER = @NUMSER AND PED_NUMFAC = @NUMFAC AND PED_ESTADO = 'N' AND PED_FAMILIA = @IDFAMILIA AND ISNULL(PED_DSCTOAPLICADO,0) = 0
	
	SET @MIN = @MIN + 1
END

END


IF @TIPO = 4 --POR SUBFAMILIA
BEGIN

DECLARE @TBLSUBFAMILIA TABLE(IDSUBFAMILIA INT, DESCUENTO MONEY,INDICE INT IDENTITY)
DECLARE @IDSUBFAMILIA INT

INSERT INTO @TBLSUBFAMILIA(IDSUBFAMILIA,DESCUENTO)
SELECT TAB_NUMTAB,tab_descuento FROM TABLAS WHERE TAB_TIPREG=123 AND TAB_CODCIA=@CODCIA
AND ISNULL(tab_descuento,0) <> 0

--SELECT TAB_NUMTAB,tab_descuento FROM TABLAS WHERE TAB_TIPREG=123 AND TAB_CODCIA='01'
--AND ISNULL(tab_descuento,0) <> 0

--SELECT * FROM @TBLPEDIDOS
SELECT @MIN = MIN(INDICE) FROM @TBLSUBFAMILIA
SELECT @MAX = MAX(INDICE) FROM @TBLSUBFAMILIA

WHILE @MIN <= @MAX
BEGIN
	SELECT TOP 1 @IDSUBFAMILIA = IDSUBFAMILIA, @DSCTO = DESCUENTO
	FROM @TBLSUBFAMILIA WHERE INDICE = @MIN
			
	UPDATE
	p
	SET
	p.PED_DESCTO = p.PED_PRECIO -ROUND(p.PED_PRECIO - (p.PED_PRECIO * @DSCTO)/100,3),
	p.PED_PRECIO = ROUND(p.PED_PRECIO - (p.PED_PRECIO * @DSCTO)/100,3),
	p.PED_SUBTOTAL = p.PED_CANTIDAD * ROUND(p.PED_PRECIO - (p.PED_PRECIO * @DSCTO)/100,3),
	p.PED_DSCTOAPLICADO = 1
	FROM PEDIDOS p inner join ARTI a on p.PED_CODCIA = a.ART_CODCIA and p.PED_CODART = a.ART_KEY
	WHERE p.PED_CODCIA = @CODCIA AND p.PED_NUMSER = @NUMSER AND p.PED_NUMFAC = @NUMFAC AND p.PED_ESTADO = 'N' AND a.ART_SUBFAM = @IDSUBFAMILIA AND ISNULL(p.PED_DSCTOAPLICADO,0) = 0;
	
	SET @MIN = @MIN + 1
END

END
/*
SP_CALCULAR_DESCUENTOS '01','100',22491,3,0
SP_CALCULAR_DESCUENTOS '01','100',22491,2,10
SP_CALCULAR_DESCUENTOS '01','100',22489,1,7.5
*/

