USE [BDATOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SUBFAMILIA_MODIFICAR]    Script Date: 11/26/2024 18:50:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec SP_SUBFAMILIA_MODIFICAR '01','PROMOCION',1,20,70
*/
ALTER PROC [dbo].[SP_SUBFAMILIA_MODIFICAR]
    (
      @CODCIA CHAR(2) ,
      @DENOMINACION VARCHAR(50) ,
      @IDFAMILIA INT,
      @DSCTO MONEY,
      @CODIGO INT 
      
    )
AS
    SET NOCOUNT ON 

    UPDATE  dbo.TABLAS
    SET     TAB_NOMLARGO = @DENOMINACION,TAB_CODART = @IDFAMILIA, TAB_DESCUENTO = @DSCTO
    WHERE   TAB_TIPREG = 123
            AND TAB_CODCIA = @CODCIA
            AND TAB_NUMTAB = @CODIGO

