USE [BDATOS]
GO
/****** Object:  StoredProcedure [dbo].[SpPrintFacturacion]    Script Date: 07/14/2025 23:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SpPrintFacturacion '01','3',9,'B'
exec SpPrintFacturacion '01','3  ',5,'B'
exec SpPrintFacturacion '01','3  ',216,'B'
select * from co
select ALL_FBG, ALL_NUMSER, ALL_NUMFAC,* from allog where all_tipmov = 10
select*from COMPROBANTE_FORMAPAGO
*/

ALTER PROC [dbo].[SpPrintFacturacion]
    @Codcia CHAR(2),
    @Serie CHAR(3),
    @nro INT,
    @fbg CHAR(1)
AS
SET NOCOUNT ON;

DECLARE @PAGACON MONEY,
        @VUELTO MONEY;
SELECT @PAGACON = al.all_pagacon,
       @VUELTO = al.all_vuelto
FROM dbo.ALLOG al
WHERE al.ALL_CODCIA = @Codcia
      AND al.ALL_NUMSER = @Serie
      AND al.ALL_NUMFAC = @nro
      AND al.ALL_CODTRA = 2401
      AND al.ALL_FBG = @fbg
      AND al.ALL_SECUENCIA = 1;
      
      
      declare @NOMBRE VARCHAR(100),@DIRECCION VARCHAR(300), @RUC CHAR(11), @UBIGEO AS VARCHAR(200)
      
      
          SELECT TOP 1  @NOMBRE = PAR_NOMBRE ,@RUC =  PAR_RUC_EMP , @DIRECCION=PAR_DIR_EMP ,@UBIGEO =  PAR_AGE_EMP
      FROM PARGEN p WITH (NOLOCK) 
      WHERE p.PAR_CODCIA = @Codcia;
   

SELECT CASE
           WHEN f.FAR_CANTIDAD_D IS NULL THEN
               f.FAR_CANTIDAD
           ELSE
               f.FAR_CANTIDAD_D
       END AS 'cant',
       CASE
           WHEN f.FAR_CANTIDAD_D IS NOT NULL THEN
               '1/2  '
           ELSE
               ''
       END + CASE
                 WHEN f.CAMBIOPRODUCTO IS NULL
                      OR f.CAMBIOPRODUCTO = '' THEN
                     a.ART_NOMBRE
                 ELSE
                     f.CAMBIOPRODUCTO
             END AS 'prod',
       f.FAR_PRECIO AS 'pre',
       (f.FAR_PRECIO * CASE
                           WHEN f.FAR_CANTIDAD_D IS NULL THEN
                               f.FAR_CANTIDAD
                           ELSE
                               f.FAR_CANTIDAD_D
                       END
       ) AS 'imp',
       dbo.FnDevuelveMozo(@Codcia, FAR_CODVEN) AS 'mozo',
       'Mesa: ' + dbo.FnDevuelveMesa(@Codcia, FAR_OC) AS 'Mesa',
       dbo.FnDevuelveCaracteristica(
                                       f.FAR_CODCIA,
                                       f.FAR_FECHA,
                                       f.FAR_NUMFAC_C,
                                       f.FAR_NUMSER_C,
                                       f.FAR_NUMSEC - 1,
                                       f.FAR_CODART
                                   ) AS 'carac',
       ISNULL(f.FAR_TOT_FLETE, 0) AS 'FLETE',
       ISNULL(f.FAR_TOT_DESCTO, 0) AS 'descuento',
       ISNULL(@PAGACON, 0) AS 'PAGACON',
       ISNULL(@VUELTO, 0) AS 'VUELTO',
       f.FAR_ICBPER AS 'ICBPER',
       (
           SELECT TOP 1
                  qr.CODIGOQR
           FROM dbo.DOCUMENTOS_QR qr
           WHERE qr.CODCIA = @Codcia
                 AND qr.NUMERO = f.FAR_NUMFAC
                 AND qr.FBG = f.FAR_FBG
                 AND qr.NSERIE = f.FAR_NUMSER
       ) AS 'codigoqr',
       f.FAR_NUMFAC_C AS 'COMANDA',
             (
           SELECT TOP 1
                  SUM(a2.ALL_SERVICIO)
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC
                 and a2.ALL_FBG = f.FAR_FBG
       ) AS 'servicio',
       (
           SELECT TOP 1
                  a2.ALL_SUBTRA
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC and a2.ALL_FBG = f.FAR_FBG
       ) AS 'FPAGO',
       (
           SELECT TOP 1
                  a2.ALL_GRATUITO
           FROM dbo.ALLOG a2
           WHERE a2.ALL_CODCIA = f.FAR_CODCIA
                 AND RTRIM(LTRIM(a2.ALL_NUMSER)) = RTRIM(LTRIM(f.FAR_NUMSER))
                 AND a2.ALL_NUMFAC = f.FAR_NUMFAC
                 and a2.ALL_FBG = f.FAR_FBG
       ) AS 'gratuito'
       ,dbo.UFN_CONCATENARFORMASPAGO(f.far_codcia, f.far_numser, f.far_numfac, f.far_fbg) as 'medio_pago'
       ,@NOMBRE AS EMPRESA, @DIRECCION AS DIR, @RUC AS RUC, @UBIGEO AS UBIGEO
       ,p.PED_CLIENTE as cliente
FROM FACART f
    INNER JOIN ARTI a
        ON f.FAR_CODART = a.ART_KEY
           AND f.FAR_CODCIA = a.ART_CODCIA
           inner join PEDIDOS p on f.FAR_CODCIA = p.PED_CODCIA and f.FAR_NUMFAC_C = p.PED_NUMFAC and f.FAR_NUMSER_C = p.PED_NUMSER and f.FAR_CODART = p.PED_CODART
--inner join ALLOG al on f.FAR_CODCIA = al.ALL_CODCIA 
--                    and f.FAR_NUMSER = al.ALL_NUMSER 
--                    and f.FAR_NUMFAC = al.ALL_NUMFAC and al.ALL_CODTRA=2401
--                    AND f.FAR_FBG = al.ALL_FBG
WHERE f.FAR_CODCIA = @Codcia
      AND f.FAR_NUMSER = @Serie
      AND f.FAR_NUMFAC = @nro
      AND f.FAR_FBG = @fbg;

/*
exec SpPrintFacturacion '01','3  ',217,'B'
*/



   
  